# Stat 517 Project #1

## Question 1: Predicting Job Salary

A project for Data Mining at the University of Southampton. The aim is to predict a job's salary with statistical learning, based on information within a job advert.

The main dataset consists of roughly 250k rows representing individual job ads, and a set of variables descriptions about each job ad. A simplified data of 10k could be retrieved at

In [20]:
import pandas as pd # conventional alias

salary = pd.read_csv("http://www.webpages.uidaho.edu/~stevel/Datasets/salary_uk.csv")
salary

,Id,Title,FullDescription,LocationRaw,LocationNormalized,ContractType,ContractTime,Company,Category,SalaryRaw,SalaryNormalized,SourceName
0,12612628,Engineering Systems Analyst,Engineering Systems Analyst Dorking Surrey Sal...,"Dorking, Surrey, Surrey",Dorking,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 30000/annum 20-30K,25000,cv-library.co.uk
1,12612830,Stress Engineer Glasgow,Stress Engineer Glasgow Salary **** to **** We...,"Glasgow, Scotland, Scotland",Glasgow,NaN,permanent,Gregory Martin International,Engineering Jobs,25000 - 35000/annum 25-35K,30000,cv-library.co.uk
2,12612844,Modelling and simulation analyst,Mathematical Modeller / Simulation Analyst / O...,"Hampshire, South East, South East",Hampshire,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 40000/annum 20-40K,30000,cv-library.co.uk
3,12613049,Engineering Systems Analyst / Mathematical Mod...,Engineering Systems Analyst / Mathematical Mod...,"Surrey, South East, South East",Surrey,NaN,permanent,Gregory Martin International,Engineering Jobs,25000 - 30000/annum 25K-30K negotiable,27500,cv-library.co.uk
4,12613647,"Pioneer, Miser Engineering Systems Analyst","Pioneer, Miser Engineering Systems Analyst Do...","Surrey, South East, South East",Surrey,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 30000/annum 20-30K,25000,cv-library.co.uk
5,13179816,Engineering Systems Analyst Water Industry,Engineering Systems Analyst Water Industry Loc...,"Dorking, Surrey, Surrey, Surrey",Dorking,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 30000/annum 20K to 30K,25000,cv-library.co.uk
6,14131336,Senior Subsea Pipeline Integrity Engineer,A globally renowned engineering and training c...,"Aberdeen, Borders",UK,NaN,permanent,Indigo 21 Ltd,Engineering Jobs,50000 - 100000/annum,75000,cv-library.co.uk
7,14663196,RECRUITMENT CONSULTANT INDUSTRIAL / COMMERCIA...,THIS IS A LIVE VACANCY NOT A GENERIC ADVERTISE...,"MANCHESTER, Greater Manchester",Manchester,NaN,permanent,Code Blue Recruitment,HR & Recruitment Jobs,18000 - 26000/annum TO 26K BASIC + COMM + BENS,22000,cv-library.co.uk
8,14663197,RECRUITMENT CONSULTANT CONSTRUCTION / TECHNIC...,This is an exceptional opportunity to join a c...,"LEEDS, West Yorkshire",Leeds,NaN,permanent,Code Blue Recruitment,HR & Recruitment Jobs,18000 - 28000/annum 18 - 28K BASIC + COMM + BENS,23000,cv-library.co.uk
9,15395797,Subsea Cables Engineer,A subsea engineering company is looking for an...,"Aberdeen, UK",Aberdeen,NaN,permanent,Indigo 21 Ltd,Engineering Jobs,70000 - 100000/annum,85000,cv-library.co.uk
10,19047429,Trainee Mortgage Advisor East Midlands,"Are you a successful, results driven person? A...",East Midlands,East Midlands,NaN,permanent,Brite Recruitment,Accounting & Finance Jobs,17000 - 25000/annum 17k - 20k OTE 25k,21000,cv-library.co.uk
11,20199757,"PROJECT ENGINEER, PHARMACEUTICAL","PROJECT ENGINEER PHAMACEUTICAL, c**** Excelle...","Witney, Oxfordshire",Witney,NaN,permanent,MatchBox Recruiting Ltd,Healthcare & Nursing Jobs,35000 - 40000/annum c40000 + Excellent Benefits,37500,cv-library.co.uk
12,20638787,Principal Composite Stress Engineer,Aerospace Senior Composite Structures Engineer...,"Avon, South West",Avon,NaN,permanent,Gregory Martin International,Other/General Jobs,40000 - 50000/annum 40K-50K,45000,cv-library.co.uk
13,20638788,Senior Fatigue Damage Tolerance Engineer,Senior Fatigue Static stress (metallic or comp...,"Avon, South West",Avon,NaN,permanent,Gregory Martin International,Other/General Jobs,35000 - 45000/annum 35K-45K,40000,cv-library.co.uk
14,20797143,Chef de Partie Award Winning Restaurant Exce...,A well respected restaurant located in the Der...,Derby Derbyshire East Midlands,Derby,NaN,NaN,Chef Results,Hospitality & Catering Jobs,"Upto 16,000 per annum + Tips (IRO 3K Per Annum)",16000,caterer.com
15,22579462,Quality Engineer,Our client are a leading supplier of precision...,"Gateshead, Tyne and Wear",Gateshead,NaN,permanent,Asset Appointments,Engineering Jobs,22000/annum,22000,cv-library.co.uk
16,22581547,Principal Controls Engineer,A leading Subsea Engineering Company require a...,"Kent, South East",Kent,NaN,permanent,Indigo 21 Ltd,Engineering Jobs,70000 - 100000/annum,85000,cv-library.co.uk
17,22933091,Chef de Partie Award Winning Dining Live In ...,A popular hotel located in Norfolk which is a ...,Norfolk East Anglia,UK,NaN,NaN,Chef Results,Hospitality & Catering Jobs,"18,000 per annum + Tips (IRO 120 Per Month)",18000,caterer.com
18,23528672,Senior Fatigue and Damage Tolerance Engineer,Senior Fatigue Static stress (metallic or comp...,"Avon, South West",Avon,NaN,permanent,Gregory Martin International,Engineering Jobs,34000 - 45000/annum to 45K,39500,cv-library.co.uk
19,23529949,C I Design Engineer,We are currently recruiting on behalf of our c...,"Wolverhampton, West Midlands",Wolverhampton,NaN,permanent,Rullion Engineering Ltd,Engineering Jobs,33000 - 34000/annum + benefits,33500,cv-library.co.uk
20,23530231,Lead Engineers (Stress),Lead Engineers (Stress) Our client provide hig...,"Bristol, Avon, South West, Avon",UK,NaN,permanent,Gregory Martin International,Engineering Jobs,34000 - 45000/annum,39500,cv-library.co.uk
21,24104334,"Relief Chef de Partie Croydon, Surrey Live in",HOTEL AND CONFERENCE VENUE CHAIN RELIEF CHEF...,South Croydon Surrey South East,UK,NaN,NaN,Towngate Personnel,Hospitality & Catering Jobs,Upto 9 per hour,17280,caterer.com
22,24835524,Senior Control and Instrumentation Engineer,Senior Control and Instrumentation Engineer . ...,"Berkshire, South East",Berkshire,NaN,permanent,Gregory Martin International,Engineering Jobs,36000 - 47000/annum 36K-47K,41500,cv-library.co.uk
23,24835548,Control and Instrumentation Engineer,Control and Instrumentation Engineer / C Readi...,"Berkshire, South East",Berkshire,NaN,permanent,Gregory Martin International,Engineering Jobs,28000 - 35000/annum 28K-35K,31500,cv-library.co.uk
24,24854800,Electrical / ICA Engineer,Electrical / ICA Engineer Industry: Environmen...,"Surrey, South East",Surrey,NaN,permanent,Gregory Martin International,Engineering Jobs,"28000 - 37000/annum 28,000 to 37,000",32500,cv-library.co.uk
25,25337172,Pastry Chef for **** red star **** rosette hot...,Pastry Chef for **** red star **** rosette hot...,North East,North East England,NaN,NaN,Clear Selection,Hospitality & Catering Jobs,24000 per annum,24000,caterer.com
26,25434785,Senior Process Engineer,Senior Process Engineer We are seeking applica...,"Berkshire, South East",Berkshire,NaN,permanent,Gregory Martin International,Engineering Jobs,36000 - 47000/annum 36-47K,41500,cv-library.co.uk
27,25452606,CHEF DE PARTIE POSITION IN **** ROSETTE HOTEL ...,CHEF DE PARTIE POSITION IN **** ROSETTE HOTEL ...,North Yorkshire Yorkshire,North Yorkshire,NaN,NaN,Clear Selection,Hospitality & Catering Jobs,16000 per annum + Live In,16000,caterer.com
28,25452680,"Senior Sous Chef for **** rosette kitchen, up ...","Senior Sous Chef for **** rosette kitchen, up ...",North East,North East England,NaN,NaN,Clear Selection,Hospitality & Catering Jobs,26000 per annum,26000,caterer.com
29,25556432,"General Manager Funky, Cool Restaurant Concep...","Senior General Manager – Funky, Cool, Casual R...",West London London South East,East Sheen,NaN,NaN,Bee Recruitment London Ltd,Hospitality & Catering Jobs,"From 28,000 to 35,000 per annum",31500,caterer.com
...,...,...,...,...,...,...,...,...,...,...,...,...
9970,66190658,Care Worker Jobs Brighton,We need to recruit Care Workers in the Brighto...,"Brighton, East Sussex",Brighton,full_time,NaN,NaN,Healthcare & Nursing Jobs,6.48 to 8.50 per hour,14380,careworx.co.uk
9971,66190660,Support Worker Jobs Brighton,We need to recruit Support Worker job seekers ...,"Brighton, East Sussex",Brighton,full_time,NaN,NaN,Healthcare & Nursing Jobs,6.48 to 8.50 per hour,14380,careworx.co.uk
9972,66190661,Support Worker Jobs Hove,We need to recruit Support Worker job seekers ...,"Hove, East Sussex",Hove,full_time,NaN,NaN,Healthcare & Nursing Jobs,6.48 to 8.50 per hour,14380,careworx.co.uk
9973,66190663,Care Assistant Jobs Peacehaven,We need to recruit Care Assistant Job seekers ...,"Peacehaven, East Sussex",Peacehaven,full_time,NaN,NaN,Healthcare & Nursing Jobs,6.48 to 8.50 per hour,14380,careworx.co.uk
9974,66190671,Care Assistant jobs Chatham,Carewatch require care and support workers acr...,"Chatham, Kent",Chatham,part_time,NaN,NaN,Healthcare & Nursing Jobs,7.50 to 11.75 per hour,18480,careworx.co.uk
9975,66190672,Care Assistant jobs Gillingham,Carewatch require care and support workers acr...,"Gillingham, Kent",Gillingham,part_time,NaN,NaN,Healthcare & Nursing Jobs,7.50 to 11.75 per hour,18480,careworx.co.uk
9976,66190676,Support Worker jobs Gillingham,Carewatch require care and support workers acr...,"Gillingham, Kent",Gillingham,part_time,NaN,NaN,Healthcare & Nursing Jobs,7.50 to 11.75 per hour,18480,careworx.co.uk
9977,66190677,Live in Care jobs Southampton,All Care based in Southampton are looking to r...,"Southampton, Hampshire",UK,full_time,NaN,NaN,Healthcare & Nursing Jobs,425 per week,20400,careworx.co.uk
9978,66190679,Care Assistant Jobs Andover,HCA Carer Healthcare Assistant Care Assist...,"Andover, Hampshire",Andover,part_time,NaN,NaN,Healthcare & Nursing Jobs,6.50 to 10.00 per hour,15840,careworx.co.uk
9979,66190683,Care Assistant Jobs Reading,HCA Carer Healthcare Assistant Care Assist...,"Reading, Berkshire",Reading,part_time,NaN,NaN,Healthcare & Nursing Jobs,6.50 to 10.00 per hour,15840,careworx.co.uk
9980,66190692,Experienced Carers – Urgently required,HCA Carer Healthcare Assistant Care Assist...,"Basingstoke, Hampshire",Basingstoke,part_time,NaN,NaN,Healthcare & Nursing Jobs,6.50 to 10.00 per hour,15840,careworx.co.uk
9981,66190693,Dom Care Branch Manager Sheffield,Would you like a rewarding career within the h...,"Sheffield, South Yorkshire",Sheffield,full_time,NaN,NaN,Healthcare & Nursing Jobs,26000 per year,26000,careworx.co.uk
9982,66190695,Optometrist Job Chichester,Black Square are currently working with one of...,"Chichester, West Sussex",Chichester,full_time,NaN,NaN,Healthcare & Nursing Jobs,40k to 60k per year,50000,careworx.co.uk
9983,66190696,Optometrist in Torquay,BlackSquare are looking for an Optometrist to ...,"Torquay, Devon",Torquay,full_time,NaN,NaN,Healthcare & Nursing Jobs,50k to 60k per year,55000,careworx.co.uk
9984,66190697,Optometrist Job Portsmouth,BlackSquare Optometry has an exclusive opportu...,"Portsmouth, Hampshire",Portsmouth,full_time,NaN,NaN,Healthcare & Nursing Jobs,"40,000 to 62,000 per year",51000,careworx.co.uk
9985,66190702,Optometrist Exeter,Optom required for a fantastic independently o...,"Exeter, Devon",Exeter,part_time,NaN,NaN,Healthcare & Nursing Jobs,"70,000 pa per year",70000,careworx.co.uk
9986,66190710,Optometrist Job Swindon,This is an excellent opportunity for a dedicat...,"Swindon, Wiltshire",Swindon,part_time,NaN,NaN,Healthcare & Nursing Jobs,"50,000 per year",50000,careworx.co.uk
9987,66190711,Optometrist Job Fareham,This is an excellent opportunity for a dedicat...,"Fareham, Hampshire",Fareham,part_time,NaN,NaN,Healthcare & Nursing Jobs,"50,000 per year",50000,careworx.co.uk
9988,66190717,Domiciliary Optometrist Hereford,BlackSquare Domiciliary Optometrist Job Heref...,"Hereford, Herefordshire",Hereford,part_time,NaN,NaN,Healthcare & Nursing Jobs,"60,000 per year",60000,careworx.co.uk
9989,66190718,Domiciliary Optometrist Milton Keynes,BlackSquare Domiciliary Optometrist Job Milto...,"Milton Keynes, Buckinghamshire",Milton Keynes,part_time,NaN,NaN,Healthcare & Nursing Jobs,"60,000 per year",60000,careworx.co.uk
9990,66190719,Domiciliary Optometrist Canterbury,BlackSquare Domiciliary Optometrist Job Cant...,"Canterbury, Kent",Canterbury,part_time,NaN,NaN,Healthcare & Nursing Jobs,"60,000 per year",60000,careworx.co.uk
9991,66190721,Domiciliary Optometrist Leeds,Domiciliary Optometrist Job Leeds Domiciliary...,"Leeds, West Yorkshire",Leeds,part_time,NaN,NaN,Healthcare & Nursing Jobs,"60,000 per year",60000,careworx.co.uk
9992,66190722,Laser Optometrist Job Manchester,The company is looking for individuals that ca...,Manchester,Manchester,part_time,NaN,NaN,Healthcare & Nursing Jobs,"47,000 per year",47000,careworx.co.uk
9993,66190723,Senior Optometrist Torquay,This is an excellent opportunity for a dedicat...,Torquay,Torquay,part_time,NaN,NaN,Healthcare & Nursing Jobs,"55,000 per year",55000,careworx.co.uk
9994,66190724,Optometrist Job Bodmin,This is an excellent opportunity for a dedicat...,"Bodmin, Cornwal",Bodmin,part_time,NaN,NaN,Healthcare & Nursing Jobs,"55,000 per year",55000,careworx.co.uk
9995,66190726,Senior Optometrist Ebbe Vale,This is an excellent opportunity for a dedicat...,Ebbe Vale,UK,part_time,NaN,NaN,Healthcare & Nursing Jobs,"52,000 per year",52000,careworx.co.uk
9996,66190728,Domiciliary Optometrist Kent,Domiciliary Optometrist Kent The Company prid...,Kent,Kent,part_time,NaN,NaN,Healthcare & Nursing Jobs,"60,000 per year",60000,careworx.co.uk
9997,66190734,Optometrist Job Hastings,This is an excellent opportunity for a dedicat...,"Hastings, East Sussex",Hastings,part_time,NaN,NaN,Healthcare & Nursing Jobs,"50,000 per year",50000,careworx.co.uk
9998,66190736,Optometrist Job Doncaster,This is an excellent opportunity for a dedicat...,Doncaster,Doncaster,part_time,NaN,NaN,Healthcare & Nursing Jobs,"35,000 to 60,000 per year",47500,careworx.co.uk
9999,66190737,Experienced RHAD Job Lincoln,We provide a community hearing service to thos...,"Lincoln, Lincolnshire",Lincoln,full_time,NaN,NaN,Healthcare & Nursing Jobs,"18,000 to 40,000 per year",29000,careworx.co.uk

The variables are described as follows:

* Id - A unique identifier for each job ad
* Title - A freetext field supplied to us by the job advertiser as the Title of the job ad. Normally this is a summary of the job title or role.
* FullDescription - The full text of the job ad as provided by the job advertiser.
* LocationRaw - The freetext location as provided by the job advertiser.
* LocationNormalized - Adzuna's normalised location from within our own location tree, interpreted by us based on the raw location. Our normaliser is not perfect!
* ContractType - full_time or part_time, interpreted by Adzuna from description or a specific additional field we received from the advertiser.
* ContractTime - permanent or contract, interpreted by Adzuna from description or a specific additional field we received from the advertiser.
* Company - the name of the employer as supplied to us by the job advertiser.
* Category - which of 30 standard job categories this ad fits into, inferred in a very messy way based on the source the ad came from. We know there is a lot of noise and error in this field.
* SalaryRaw - the freetext salary field we received in the job advert from the advertiser.
* SalaryNormalised - the annualised salary interpreted by Adzuna from the raw salary. Note that this is always a single value based on the midpoint of any range found in the raw salary. This is the value we are trying to predict.
* SourceName - the name of the website or advertiser from whom we received the job advert.

Present useful graphics to understand and/or reveal sensible info about the data set. Develop feasible models and compare their predictive accuracies and performance as a whole. Discuss the pros and cons of these models. Summarize and critique your modeling and findings.

## Question 2: Predicting Income >$50k or not

This study focuses on the US Adult Census dataset; a repository of 32,561 entires carefully extracted from 
the 1994 US Census database. We would like to determine if an individual has a salary greater 
than or less than $50,000 annually based on the variables provided. 

Present useful graphics to understand and/or reveal sensible info about the data set. Develop feasible models and compare their predictive accuracies and performance as a whole. Discuss the pros and cons of these models. Summarize and critique your modeling and findings. 

The data can be retrieved as follows:

In [13]:
adult = pd.read_csv("http://www.webpages.uidaho.edu/~stevel/Datasets/adult.csv")

adult

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

### Nominal Attributes
* **workclass**:
    + Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked
Without-pay, Never-worked.
* **education**: 
    + Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* **marital-status**:
    + Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* **occupation**: 
    + Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* **relationship**: 
    + Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* **race**: Descriptions of an individual's race
    + White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* **sex**: 
    + Male, Female
* **native-country**: 
    + United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hongkong, Holand-Netherlands.

### Continuous Attributes
* **age**
* **fnlwgt**
* **education-num**
* **capital-gain**
* **capital-loss**
* **hours-per-week**

## Question 3: Purchasing Insurance

In [16]:
Caravan_train = pd.read_csv("http://www.webpages.uidaho.edu/~stevel/Datasets/Caravan_train.csv")
Caravan_train

,MOSTYPE,MAANTHUI,MGEMOMV,MGEMLEEF,MOSHOOFD,MGODRK,MGODPR,MGODOV,MGODGE,MRELGE,...,APERSONG,AGEZONG,AWAOREG,ABRAND,AZEILPL,APLEZIER,AFIETS,AINBOED,ABYSTAND,Purchase
0,33,1,3,2,8,0,5,1,3,7,...,0,0,0,1,0,0,0,0,0,No
1,37,1,2,2,8,0,4,2,4,3,...,0,0,0,1,0,0,0,0,0,No
2,40,1,4,2,10,1,4,1,4,7,...,0,0,0,1,0,0,0,0,0,No
3,39,2,3,2,9,2,2,0,5,7,...,0,0,0,0,0,0,0,0,0,No
4,33,1,2,4,8,0,1,3,6,6,...,0,0,0,0,0,0,0,0,0,No
5,11,2,3,3,3,3,5,0,2,7,...,0,0,0,1,0,0,0,0,0,No
6,10,1,4,3,3,1,4,1,4,7,...,0,0,0,0,0,0,0,0,0,No
7,9,1,3,3,3,1,3,2,4,7,...,0,0,0,1,0,0,0,0,0,No
8,33,1,2,3,8,1,4,1,4,6,...,0,0,0,0,0,0,0,0,0,No
9,41,1,3,3,10,0,5,0,4,7,...,0,0,0,0,0,0,0,0,0,No
10,23,1,1,2,5,0,6,1,2,1,...,0,0,0,1,0,0,0,0,0,No
11,33,1,2,3,8,0,7,0,2,7,...,0,0,0,1,0,0,0,0,0,No
12,38,1,2,3,9,0,6,0,3,7,...,0,0,0,0,0,0,0,0,0,No
13,22,2,3,3,5,0,5,0,4,7,...,0,0,0,1,0,0,0,0,0,No
14,13,1,4,2,3,2,4,0,3,7,...,0,0,0,1,0,0,0,0,0,No
15,33,1,4,3,8,0,6,0,3,9,...,0,0,0,0,0,0,0,0,0,No
16,33,2,3,3,8,0,4,2,3,7,...,0,0,0,1,0,0,0,0,0,No
17,13,1,3,2,3,1,7,0,2,7,...,0,0,0,1,0,0,0,0,0,No
18,34,2,3,2,8,0,7,0,2,7,...,0,0,0,0,0,0,0,0,0,No
19,13,2,4,3,3,0,4,2,4,8,...,0,0,0,0,0,0,1,0,0,No
20,37,1,3,3,8,0,5,0,4,7,...,0,0,0,0,0,0,0,0,0,No
21,31,1,4,2,7,0,9,0,0,5,...,0,0,0,0,0,0,0,0,0,No
22,33,2,2,3,8,0,7,1,2,5,...,0,0,0,1,0,0,0,0,0,No
23,24,2,2,2,5,1,3,2,4,2,...,0,0,0,1,0,0,0,0,0,No
24,33,1,4,3,8,1,4,1,5,8,...,0,0,0,1,0,0,0,0,0,No
25,38,1,2,3,9,0,5,2,2,4,...,0,0,0,0,0,0,0,0,0,No
26,13,2,4,3,3,0,4,2,4,8,...,0,0,0,1,0,0,0,0,0,No
27,8,1,3,2,2,2,4,1,4,6,...,0,1,0,1,0,0,0,0,1,No
28,41,1,3,3,10,0,7,1,2,8,...,0,0,0,1,0,0,0,0,0,No
29,33,2,3,3,8,0,2,3,5,6,...,0,0,0,1,0,0,0,1,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4600,41,1,2,3,10,0,9,0,0,9,...,0,0,0,1,0,0,0,0,0,No
4601,8,1,3,3,2,1,5,1,4,6,...,0,0,0,1,0,0,0,0,0,Yes
4602,23,1,1,2,5,1,4,2,4,2,...,0,0,0,1,0,0,0,0,0,No
4603,32,1,2,4,7,0,6,1,3,5,...,0,0,0,1,0,0,0,0,0,No
4604,35,1,3,3,8,0,5,0,4,4,...,0,0,0,0,0,0,0,0,0,No
4605,36,1,2,3,8,1,5,2,3,5,...,0,0,0,0,0,0,0,0,0,No
4606,13,1,3,3,3,1,5,1,3,7,...,0,0,0,1,0,0,0,0,0,No
4607,33,1,3,2,8,0,2,4,4,8,...,0,0,0,1,0,0,0,0,0,No
4608,22,1,2,2,5,0,3,1,6,6,...,0,0,0,0,0,0,0,0,0,No
4609,39,1,4,2,9,0,5,1,4,7,...,0,0,0,0,0,0,0,0,0,No
4610,8,1,4,3,2,0,6,1,2,7,...,0,0,0,1,0,0,0,0,0,Yes
4611,27,1,1,6,6,1,5,2,3,5,...,0,0,0,1,0,0,0,0,0,No
4612,9,1,3,3,3,0,5,0,4,7,...,0,0,0,1,0,0,0,0,0,No
4613,31,1,3,3,7,2,3,0,5,4,...,0,0,0,1,0,0,0,0,0,No
4614,3,1,2,4,1,1,4,1,4,8,...,0,0,0,0,0,0,0,0,0,No
4615,36,1,3,3,8,0,6,0,3,8,...,0,0,0,0,0,0,0,0,0,No
4616,23,1,2,2,5,2,4,1,3,3,...,0,0,0,1,0,0,0,0,0,No
4617,38,2,3,4,9,0,9,0,0,9,...,0,0,0,1,0,0,0,0,0,No
4618,35,1,2,3,8,0,7,0,2,4,...,0,0,0,0,0,0,0,0,0,No
4619,33,1,3,2,8,0,4,0,5,9,...,0,0,0,0,0,0,0,0,0,No
4620,39,1,3,2,9,1,5,1,3,7,...,0,0,0,1,0,0,0,0,0,No
4621,40,1,3,4,10,0,7,0,2,6,...,0,0,0,2,0,0,0,0,0,No
4622,3,1,2,4,1,1,6,1,2,5,...,0,0,0,1,0,0,0,0,0,No
4623,1,1,3,3,1,1,4,2,3,7,...,0,0,0,1,0,0,0,0,0,No
4624,13,1,2,3,3,0,2,0,7,5,...,0,0,0,1,0,0,0,0,0,No
4625,3,1,2,3,1,0,6,0,3,6,...,0,0,0,0,0,0,0,0,0,No
4626,36,1,1,2,8,0,6,1,2,1,...,0,0,0,1,0,0,0,0,0,No
4627,35,1,4,4,8,1,4,1,4,6,...,0,0,0,1,0,0,0,0,0,No
4628,33,1,3,4,8,0,6,0,3,5,...,0,0,0,1,0,0,0,0,0,Yes
4629,33,1,3,3,8,0,6,1,2,7,...,0,0,0,0,0,0,0,0,0,No

In [17]:
Caravan_unk = pd.read_csv("http://www.webpages.uidaho.edu/~stevel/Datasets/Caravan_unk.csv")
Caravan_unk

,MOSTYPE,MAANTHUI,MGEMOMV,MGEMLEEF,MOSHOOFD,MGODRK,MGODPR,MGODOV,MGODGE,MRELGE,...,ALEVEN,APERSONG,AGEZONG,AWAOREG,ABRAND,AZEILPL,APLEZIER,AFIETS,AINBOED,ABYSTAND
0,41,1,3,3,10,0,7,0,3,8,...,0,0,0,0,1,0,1,0,0,0
1,38,1,3,2,9,0,6,0,3,5,...,0,0,0,0,0,0,0,0,0,0
2,1,1,4,3,1,1,5,1,3,6,...,0,0,0,0,1,0,0,0,0,0
3,38,1,3,2,9,2,2,2,4,7,...,0,0,0,1,0,0,0,0,0,0
4,35,1,2,3,8,1,5,1,3,5,...,0,0,0,0,1,0,0,0,0,0
5,12,1,4,2,3,0,4,0,5,9,...,0,0,0,0,0,0,0,0,0,0
6,38,1,3,2,9,0,4,0,5,9,...,0,0,0,0,1,0,0,0,0,0
7,3,1,2,3,1,1,5,1,3,6,...,0,0,0,0,1,0,0,0,0,0
8,8,1,3,3,2,1,7,0,1,6,...,0,0,0,0,1,0,0,0,0,0
9,34,1,3,2,8,0,7,0,2,7,...,0,0,0,0,1,0,0,0,0,0
10,9,1,4,2,3,2,3,1,5,7,...,0,0,0,0,1,0,0,0,0,0
11,8,1,3,2,2,0,7,2,0,7,...,0,0,0,0,1,0,0,0,0,0
12,12,2,4,2,3,0,2,0,7,9,...,0,0,0,0,1,0,0,0,0,0
13,31,1,2,4,7,0,7,1,2,6,...,0,0,0,0,1,0,0,0,0,0
14,9,1,2,3,3,2,3,1,5,5,...,0,0,0,0,1,0,0,0,0,0
15,36,1,3,3,8,0,7,0,2,6,...,0,0,0,0,1,0,0,0,0,0
16,6,1,3,3,2,2,5,0,3,9,...,0,0,0,0,0,0,0,0,0,0
17,33,1,3,3,8,0,4,0,5,9,...,0,0,0,0,1,0,0,0,0,0
18,11,1,2,2,3,0,7,2,0,7,...,0,0,0,0,1,0,0,0,0,0
19,8,1,3,3,2,3,4,2,2,8,...,0,0,0,0,1,0,0,0,0,0
20,8,1,3,3,2,1,7,0,1,6,...,0,0,0,0,1,0,0,0,0,0
21,23,1,1,2,5,2,4,2,4,7,...,0,0,0,0,1,0,0,0,0,0
22,36,1,2,4,8,1,5,3,2,6,...,0,0,0,0,0,0,0,2,0,0
23,5,1,2,3,1,1,4,2,4,5,...,0,0,0,0,1,0,0,0,0,0
24,22,2,3,3,5,0,5,0,4,7,...,0,0,0,0,1,0,0,0,0,0
25,13,1,3,2,3,1,5,1,3,8,...,0,0,0,0,0,0,0,0,0,0
26,8,1,3,2,2,0,7,2,0,7,...,0,0,0,0,1,0,0,0,0,0
27,33,1,3,3,8,1,5,0,3,7,...,0,0,0,0,0,0,0,0,0,0
28,10,2,3,3,3,2,4,1,3,6,...,0,0,0,0,1,0,0,0,0,0
29,6,1,3,3,2,0,7,2,0,9,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1034,3,1,1,2,1,0,5,0,4,0,...,0,0,0,0,0,0,0,0,0,0
1035,33,1,3,2,8,0,5,1,3,7,...,0,0,0,0,0,0,0,0,0,0
1036,41,1,3,3,10,0,7,0,2,6,...,0,0,0,0,0,0,0,0,0,0
1037,39,1,3,2,9,0,5,0,4,7,...,0,0,0,0,0,0,0,0,0,0
1038,23,1,3,3,5,1,2,0,7,4,...,0,0,0,0,0,0,0,0,0,0
1039,23,1,2,3,5,2,4,2,3,5,...,0,0,0,0,1,0,0,0,0,0
1040,36,1,1,2,8,0,6,1,2,1,...,0,0,0,0,1,0,0,0,0,0
1041,31,1,2,4,7,0,2,0,7,9,...,0,0,0,0,1,0,0,0,0,0
1042,35,1,2,4,8,0,5,1,3,7,...,0,0,1,0,1,0,0,0,0,0
1043,37,1,2,3,8,1,4,1,4,5,...,0,0,0,0,0,0,0,1,0,0
1044,9,1,2,3,3,2,2,3,4,7,...,2,0,0,0,1,0,0,0,0,0
1045,13,1,3,3,3,1,5,1,3,7,...,0,0,0,0,1,0,0,0,0,0
1046,33,1,3,3,8,1,4,2,3,7,...,0,0,0,0,0,0,0,0,0,0
1047,35,1,3,3,8,0,4,0,5,5,...,0,0,0,0,1,0,0,0,0,0
1048,9,1,3,3,3,1,5,2,1,6,...,0,0,0,0,0,0,0,0,0,0
1049,17,1,2,4,4,0,5,3,2,5,...,0,0,0,0,0,0,0,0,0,0
1050,8,1,3,4,2,0,2,0,7,9,...,0,0,0,0,0,0,0,0,0,0
1051,2,1,3,3,1,0,2,2,5,9,...,0,0,0,0,0,0,0,1,0,0
1052,23,1,1,2,5,2,4,1,3,3,...,0,0,0,0,1,0,0,0,0,0
1053,37,1,2,3,8,1,4,1,4,5,...,0,0,0,0,1,0,0,0,0,0
1054,10,1,4,3,3,0,5,2,3,7,...,0,0,0,0,0,0,0,0,0,0
1055,35,1,2,4,8,0,5,0,4,7,...,0,0,0,0,0,0,0,0,0,0
1056,33,1,2,4,8,0,5,0,5,9,...,0,0,0,0,0,0,0,0,0,0
1057,8,1,3,3,2,1,6,2,2,8,...,0,0,0,0,1,0,0,0,0,0
1058,10,1,4,2,3,1,5,1,4,8,...,0,0,0,0,1,0,0,0,0,0
1059,3,1,2,4,1,0,6,1,3,7,...,0,0,0,0,1,0,0,0,0,0
1060,33,1,3,3,8,0,6,1,2,6,...,0,0,0,0,0,0,0,0,0,0
1061,38,2,3,2,9,0,6,1,2,7,...,0,0,0,0,1,0,0,0,0,0
1062,31,1,3,2,7,2,2,0,5,6,...,2,0,0,0,0,0,0,0,0,0
1063,34,1,3,2,8,0,7,0,2,7,...,0,0,0,0,0,0,0,0,0,0

The data above contains 4630 real customer records. Each record consists of 86 variables, containing sociodemographic data (variables 1-43) and product ownership (variables 44-86). The sociodemographic data is derived from zip codes. All customers living in areas with the same zip code have the same sociodemographic attributes. Variable 86 (Purchase) indicates whether the customer purchased a caravan insurance policy. 

Based on a direct marketing problem, the goal is to $predict$ and $interpret$ caravan insurance policy ownership on the basis of product usage and sociodemographic data supplied about the customer.

Consider using all prediction models you learned for the prediction task, suppose your supervisor has limited time and resources to only approach 50 customers.
You are asked to recommend to your supervisor a subset of 50 customers from these 1064 customers in the Caravan_unk file who would most likely buy a caravan policy.
Report **just the row numbers** of your selected 50 customers as they appear in the Caravan_unk file in increasing order (say, row #4, 7, 11, 59, 113, ...), then explain how you come up with this selected subset and your entire modeling process.